{
    "security": {
        "autoAccept": false,
        "usePlatformTLS": true
    },
    "allow": [
        "10.0.124.100",
        "0.0.0.0",
        "10.0.124.*",
        "127.0.0.1"
    ],
    "devices": [
        {
            "name": "MOCK",
            "port": 8082,
            "values": [
                "value"
            ]
        }
    ]
}